@use "../foundation/" as f;
.c-content-title{
    position:relative;
    text-transform: capitalize;

    /*アンダーバー*/
    ::after{
        content:"";
        width:63px;
        height:4px;
        background-color: f.$color-white;
        position:absolute; 
    }
}