.p-serchform{
    position:relative;

    /*虫眼鏡マークは疑似要素*/
    ::before{
        content: url(../../img/serch.png);
        display:inline-block;
        width:auto;
        height:auto;
        position:absolute;
}
}
