@use "../../foundation/" as f;

.p-location{
    background:  linear-gradient(to right,rgb(5, 5, 5, 0.5971) 61%,rgb(5,5,5,0.2855) 61% 39%),url(../../img/スクリーンショット\ 2020-02-10\ 11.47.42.jpg);
    //レイヤーは疑似要素に変えてもよい
    background-size: cover;
    height: auto;

    .p-location-content{
        width:61%;

        .c-content-title{
            font-size:36px;
            padding:10%;

            &::before{
                width:7%;
                bottom: -10%;
                height:2px;
            }
        }

        .c-location-article{
            padding:10%;
            line-height:2;
        }
    }
}