.p-serchform{
    position:relative;

    /*虫眼鏡マークは疑似要素*/
    &::before{
        content: url(../../img/serch.png);
        display:inline-block;
        width:auto;
        height:auto;
        position:absolute;
        padding:15px;
    }

   input{
    margin-left:60px;
    height:46px;
    width:15vw;
   }
}
