@use "../foundation/" as f;

.l-sidebar{
    right:-100%;
    transition: all .3s;
    display:none;


    //pc
    @include f.pc{
        display: block;
        width: 19%;
        background-color: f.$color-darkbage;
        right:0;
    }

}

/*Menuクリック後*/
.c-wrapper-wide{
    .l-sidebar.is-active{
        display:block;
        width:87%;
        background-color: f.$color-darkbage;
        position: absolute;
        top: 0;
        right: 0;
    }

    @include f.tab{
       .l-sidebar.is-active{
            width:40%;
        }
    }
}